<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirmation</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <%- include('partials/navbar') %>
  <main>
    <div class="container">
      <header class="booking-header">
        <h1>Your Contact Has Been Added!</h1>
       <p>First Name: <%= fname %></p>
       <p>Last Name: <%= lname %></p> 
       <p>Company: <%= cname %></p> 
       <p>Job Title: <%= jname %></p> 
       <p>Linkedin: <%= liname %></p> 
       <p>Email: <%= ename %></p>
       <p>Message: <%= message %></p> 
       <p>How did We Meet: <%= meet %></p> 
       <p>TimeStamp: <%= timestamp %></p> 
      </header>
    </div>

    <div class="full-width">
        <button type="submit" id="order-button" class="submit-btn" onclick="window.location.href='/'">Back</button>
    </div>
    
  </main>
</body>
</html>